
  <h1><a href="/plants" class="title">perrenial.</a></h1>
  <a href="/plants/new">ADD A NEW PLANT</a>
<% if (currentUser) { %>
  Welcome <%= currentUser.username %>

    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" class="btn-small red" />
    </form>

  <% } else { %>
    <div class="users">
      <a href="/users/new" class="signup">SIGN UP</a> / <a href="/sessions/new" class="login">LOG IN</a>
    </div>


  <% } %>
