<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class = "container">
      <h1>Perennial Index Page</h1>
      <div class="header-image">
        header image goes here
      </div>
      <div class="shop-plants">
        <% for(let i = 0; i < plants.length; i++) { %>

          <a href="/perrenial/<%=plants[i].id%>">
            <img src="<%=plants[i].img%>" class="card-img"/>
          </a>
          <%=plants[i].name%>

      </div>
    </div>
  </body>
</html>
