<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class = "container">
      <h1>Perennial Index Page</h1>
      <div class="header-image">
        header image goes here
      </div>
      <div class="shop-plants">


      </div>
    </div>
  </body>
</html>
