/* body {
  background-color: whitesmoke;
} */
.container{
  width: 100%;
}

.border-top{
  background-color: #729F86;
  color: #729F86;
  padding: 20px;
}

nav{
  display: flex;
  padding-right: 100px;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #729F86;
}

nav a{
  color: #729F86;
  font-size: 1em;
  font-weight: bolder;
}

.signup .login {
float: right;
}

.title{
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  color: #729F86;
}

a:hover{
  text-decoration: underline;
  color: #729F86;
}

.header-image{
  background-image: url('https://i.ibb.co/7SP53Mr/header4.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: flex-end; */
   padding: 2em;
   box-sizing: border-box;
}

.header-image h2{
  font-size: 2.5em;
  margin: 0;
  padding-left: 420px;
  padding-top: 300px;
  position: absolute;
  text-shadow: 3px 3px #729F86;
  color: whitesmoke;
}

.card-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* align-content:  center; */

}

.card-img-top{
  width: 250px;
  height: auto;
}

.card{
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-header{
  /* padding-top: 1?0px; */
  font-family: 'Bebas Neue';
  color: #729F86;
  text-align: center;
}

.shop{
  background-color: #FAAD94FF;
  color: #729F86;
  font-weight: bolder;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
  padding: 10px;
}

footer{
  background-color: #729F86;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

footer h6{
  color: white;
  font-size: 30px;
  padding-top: 10px;
}

ion-icon {
    font-size: 50px;
}

/* show page */

.show-image{
  width: 400px;
  height: 400px;
  padding-bottom: 20px;
}

.row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -350px;
  margin-left: 450px;
  width: 550px;
  font-family: 'Libre Baskerville', serif;
}

.price{
  margin-top: 6px;
  margin-left: 60px;
  /* float: right; */
}


.text{
  display: inline-block;
  vertical-align: middle;
  text-transform: lowercase;
}

.buttons{
  display: flex;
  justify-content: space-evenly;

}

button a{
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;


}
button a:hover{
  color: whitesmoke;
  text-decoration: none;
}

button {
  background-color: #729F86;
  border: none;
  padding: 10px;

}

input[type=submit] {
    padding:10px;
    background:#729F86;
    color: whitesmoke;
    width: 150px;
    border: none;
    -webkit-border-radius: 5px;
}
.card-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.plant-info{
  width: 32%;
  height: 350px;
  margin-top: 20px;
  box-shadow: 3px #eee;
  box-sizing: border-box;
  padding: 10px;
  font-weight: bold;
  color: #91A69B;
  text-transform: lowercase;
}

.paw{
  color: #729F86;
}

.light{
  height: 50px;
  width: auto;
}

.water{
  height: 50px;
  width: auto;
}

.col-description{
  width: 400px;
  margin-left: -60px;
  background-color: #729F86;
  padding: 15px;
  color: whitesmoke;
}

.icon{
  display: inline-block;
  vertical-align: middle;
  color: #FAAD94FF;
}

.col-buy{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-btn{
  padding: 10px;
  width: 100px;
  margin-left: -220px;
  color: whitesmoke;
}

.edit-header{
  background-image: url('https://i.ibb.co/z6HzGtN/editheader1.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: flex-end; */
   padding: 2em;
   box-sizing: border-box;
}

.edit-header h1{
  color:whitesmoke;
  text-shadow: 3px 3px #729F86;
  font-size: 4em;
}

.edit-header h2{
  background-color: #FAAD94FF;
  font-family: 'Bebas Neue';
  color: whitesmoke;
  font-weight: bold;
  font-size: 2em;
  padding: 10px;
  width: 350px;
  text-align: center;
  /* text-transform: cursive; */
}

/* forms */

fieldset{
  border: 3px solid #ccc;
  padding: 30px;

}

legend{
  padding: 5px;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  color: #729F86;
  font-weight: bold;
}

label{
  font-family: 'Bebas Neue';
  font-size: 20px;
  display: block;
}

input, textarea{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
/* required */
input:required:focus {
  border: 3px solid red;
  outline: none;
}

/* users pages */
.users-header{
  background-image: url('https://i.ibb.co/nn9w66q/users1.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
