<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Edit the Care Instructions</h1>
        <form action="/plants/<%=plants._id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%=plants.name%>" />
        <input type="submit" value="Submit">
    </form>


  </body>
</html>
