<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class = "container">
      <h1>Perennial Index Page</h1>
        <!-- header image goes here -->

      <div class="shop-plants">
        <a href="/home/plants">Shop all plants</a>
        </div>

        <div class="shop-pots">
          pots link here
          </div>
      </div>

  </body>
</html>
