<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class = "container">
      <h1>Perennial Index Page</h1>
        <!-- header image goes here -->

      <div class="shop-plants">
        <% for(let i = 0; i < plants.length; i++) { %>
          <a href="/plants/<%=plants[i].id%>">
            <img src="<%=plants[i].img%>" class="card-img"/>
          </a><br/>



          <%=plants[i].name%>
          <form action="/plants/<%=plants[i].id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
          </form>
    <% } %>
        </div>

      </div>

  </body>
</html>
