<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Perrenial</h1>
        <a href="/plants/new">Create a New Fruit</a>
      </div>
      <div class="card-holder">
        <% for(let i=0; i < plants.length; i++){ %>
          <div class="card">
            <a href="/plants/<%=plants[i]._id%>">
              <img src="<%=plants[i].img%>" class="card-img-top"/>
            </a> <br/>
            <h2><%=plants[i].name%></h2>
          </div>
        <%}%>
    </div>
  </body>
</html>
